*{
    background-image:url(https://media.istockphoto.com/id/1248151801/vector/wood-panel-pattern-with-beautiful-abstract.jpg?s=612x612&w=0&k=20&c=0-tG6QUTIPHv4VK3NaTu5OFmqCpgIu6iHDlJ6fjynAo=);
    background-position:center;
    background-size:cover;
    font-size: 50px;
}
.tre{
    font-size: 45px;

}
